html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
  
  header {
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    height:60px;
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .navbar {
    border: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;
  }
  
  .sidebar-button {
    width: 100px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .logo {
/*     position: absolute;
    top: 4px;
    left: 43%; 
    margin: 0;*/
    margin-left: 32%;
    font-size: 24px;
  }
  
    .logo a, .logo a:hover{
      color: black;
      text-decoration: none;
  }

  .cart-detail{
    margin:auto;
    width: 75%;
    display: flex;
    align-items: center;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: rgb(206, 202, 202);
    margin-left: 10px;
  }
  
  .navigation {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 10px;
  }
  
  .navigation li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f2f2f2;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
  }
  
  .sidebar-button.open {
    left: 0;
  }

.sidebar {
  z-index: 1;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333;
}

.header-link {
  margin-left: 11%;
  display: flex;
}

.cart-button {
  background-color: #d4cbcb;
  color: #333;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.login-link {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  background-color: #d4cbcb;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: #ccc;
}

footer {
/*   position: fixed;
  bottom: 0;
  right:0;
  left:0; */
flex-shrink: 0;
 margin-top: 50px;
  background-color: #f8f8f8;
/*  display: flex;*/
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  height: 150px;
}

footer h2 {
  margin-bottom: 35px;
}

footer .links {
  display: flex;
  gap: 10px;
}

footer .links a {
  text-decoration: none;
  color: #000;
}

footer p {
  margin: 0;
}


.number-input {
    position: absolute;
    top:57px;
    left:55%;
    width: 80px;
    height: 40px;
    text-align: center;
    align-items: center;
}

.price {
    position: absolute;
    top:40px;
    left:68%;
}
  
  button {
    width: 40px;
    height: 40px;
    background-color: #b9b4b4;
    border: none;
    cursor: pointer;
  }

  .cart-content img {
    height: 150px;
    width: 200px;
  }

  .cart-content {
    position: relative;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    background-color: #f1f1f1;
    padding-right: 30px;
    width: 78%;
    margin: auto;
    margin-bottom: 20px;
    height: 150px;
  }

  .cart-name {
    margin-left: 170px;
    margin-top: 60px;

  }
  
  .button {
      margin-left: 75%;
      margin-top: 15px;
   }
   
   .button a:hover {
       text-decoration: none;
       background-color: rgb(255, 253, 208);
       color:black;
    }
    
    .buy:hover {
        background-color: rgb(255, 253, 208);

    }
  
   .button a{
        padding: 17px;
        text-decoration: none;
        height: 50px;
        width: 100px;
        border-radius: 10px;
        background-color: #cfc5c5;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
        color: #100303;
        font-size: 16px;
   }
   
  .buy {
    margin-left: 15px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #cfc5c5;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    color: #100303;
    font-size: 16px;
}

.delete-button img{
    height:30px;
    width:30px;
}

.delete-button{
    position: absolute;
    top:60px;
    right:5%;
}

.cart-titles {
    position: relative;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    background-color: #f1f1f1;
    padding-right: 30px;
    width: 78%;
    margin: auto;
    margin-bottom: 20px;
}

.cart-titles h2{
    color: black;
}

.cart-titles h2:first-child {
    margin-left: 50px;
}

.cart-titles h2:nth-child(2){
    margin-left: 22%;
}

.cart-titles h2:nth-child(3) {
    position: absolute;
    left: 54%;
}

.cart-titles h2:last-child{
    position: absolute;
    left: 70%;
}

.cart-total {
  margin-left: 78%;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}











  